header {
    background-color: #9cd6f4;
    padding: 25px 12px;
}

header span {
    color: white;
}

#secondo {
    font-size: xx-large;
}

footer {
    background-color: #313a6b;
}

footer p {
    color: white;
    text-align: center;
    padding: 15px 0;
}

#terzo {
    font-size: 16px;
    margin-bottom: 5px;
    /* Spazio sotto il titolo */
}

.inline {
    display: inline;
    /* Mantiene "Scritto da The Booleaner" sulla stessa riga */
    margin: 0;
    padding: 0;
}

.online {
    margin-top: 2px;
    /* Riduce lo spazio tra "The Booleaner" e la data */
}

.grigio {
    color: grey;
}

.blu {
    color: #9cd6f4;
}

.grigio1 {
    color: grey;
}